<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordDocumentBuilder.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WordDocumentBuilder.Settings>
            <setting name="ContractsFolderPath" serializeAs="String">
                <value>.\Документы\Договоры\</value>
            </setting>
            <setting name="Candidates_FilePath" serializeAs="String">
                <value>.\Настройки\Кандидаты\Кандидаты.xlsx</value>
            </setting>
            <setting name="Candidates_TemplateFilePath_ТВ" serializeAs="String">
                <value>.\Настройки\Кандидаты\КАНДИДАТЫ ЗС РО форма_БПЛ ТВ.dotx</value>
            </setting>
            <setting name="Candidates_TemplateFilePath_РВ" serializeAs="String">
                <value>.\Настройки\Кандидаты\КАНДИДАТЫ ЗС РО форма_БПЛ РВ.dotx</value>
            </setting>
            <setting name="Candidates_TalonsFilePath" serializeAs="String">
                <value>.\Настройки\Кандидаты\Талоны.xlsm</value>
            </setting>
            <setting name="Candidates_TalonsFilePath_Маяк" serializeAs="String">
                <value>.\Настройки\Кандидаты\Талоны для формирования\Талоны Маяк.xlsx</value>
            </setting>
            <setting name="Candidates_TalonsFilePath_Радио_России" serializeAs="String">
                <value>.\Настройки\Кандидаты\Талоны для формирования\Талоны Радио России.xlsx</value>
            </setting>
            <setting name="Candidates_TalonsFilePath_Вести_ФМ" serializeAs="String">
                <value>.\Настройки\Кандидаты\Талоны для формирования\Талоны Вести ФМ.xlsx</value>
            </setting>
            <setting name="Candidates_TalonsFilePath_Россия_1" serializeAs="String">
                <value>.\Настройки\Кандидаты\Талоны для формирования\Талоны Россия 1.xlsx</value>
            </setting>
            <setting name="Candidates_TalonsFilePath_Россия_24" serializeAs="String">
                <value>.\Настройки\Кандидаты\Талоны для формирования\Талоны Россия 24.xlsx</value>
            </setting>
            <setting name="Parties_FilePath" serializeAs="String">
                <value>.\Настройки\Партии\Партии.xlsx</value>
            </setting>
            <setting name="Parties_TemplateFilePath_ТВ" serializeAs="String">
                <value>.\Настройки\Партии\ПАРТИИ ЗС РО_БПЛ ТВ.dotx</value>
            </setting>
            <setting name="Parties_TemplateFilePath_РВ" serializeAs="String">
                <value>.\Настройки\Партии\ПАРТИИ ЗС РО_БПЛ РВ.dotx</value>
            </setting>
            <setting name="Parties_TalonsFilePath" serializeAs="String">
                <value>.\Настройки\Партии\Талоны.xlsm</value>
            </setting>
            <setting name="Parties_TalonsFilePath_Маяк" serializeAs="String">
                <value>.\Настройки\Партии\Талоны для формирования\Талоны Маяк.xlsx</value>
            </setting>
            <setting name="Parties_TalonsFilePath_Радио_России" serializeAs="String">
                <value>.\Настройки\Партии\Талоны для формирования\Талоны Радио России.xlsx</value>
            </setting>
            <setting name="Parties_TalonsFilePath_Вести_ФМ" serializeAs="String">
                <value>.\Настройки\Партии\Талоны для формирования\Талоны Вести ФМ.xlsx</value>
            </setting>
            <setting name="Parties_TalonsFilePath_Россия_1" serializeAs="String">
                <value>.\Настройки\Партии\Талоны для формирования\Талоны Россия 1.xlsx</value>
            </setting>
            <setting name="Parties_TalonsFilePath_Россия_24" serializeAs="String">
                <value>.\Настройки\Партии\Талоны для формирования\Талоны Россия 24.xlsx</value>
            </setting>
            <setting name="Protocols_FolderPath" serializeAs="String">
                <value>.\Документы\Протоколы\</value>
            </setting>
            <setting name="Protocols_TemplateFilePath_Candidates" serializeAs="String">
                <value>.\Настройки\Протоколы\Приложение 2.dotx</value>
            </setting>
            <setting name="Protocols_TemplateFilePath_Parties" serializeAs="String">
                <value>.\Настройки\Протоколы\Приложение 1.dotx</value>
            </setting>
            <setting name="Protocols_FilePath" serializeAs="String">
                <value>.\Настройки\Протоколы\Протоколы.xlsx</value>
            </setting>
        </WordDocumentBuilder.Settings>
    </userSettings>
</configuration>