<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordDocumentBuilder.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WordDocumentBuilder.Settings>
            <setting name="ContractsFolderPath" serializeAs="String">
                <value>.\Contracts\</value>
            </setting>
            <setting name="DataFilePath" serializeAs="String">
                <value>.\data.xlsm</value>
            </setting>
            <setting name="TalonDataVar2FolderPath" serializeAs="String">
                <value>.\TalonData_var2</value>
            </setting>
        </WordDocumentBuilder.Settings>
    </userSettings>
</configuration>